{% extends 'base/main.html' %} {% block content %}

<div class="header-bar">
  <div>
    <h1>All TubeItems</h1>
  </div>

  {% if request.user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post" name="f_logout">
    {% csrf_token %}
    <a href="javascript:f_logout.submit()" >Logout</a>
  </form> 
  {% else %}
  <a href="{% url 'login' %}">Login</a> 
  {% endif %}

  <a href="{% url 'user-tubeitems' %}">Your TubeItems</a>
</div>

<div id="search-add-wrapper">
  <form method="GET" style="display: flex">
    <input
      type="text"
      name="search-area"
      placeholder="Search tubeitem"
      value="{{search_input}}"
    />
    <input class="button" type="submit" value="Search" />
  </form>
  {% if tubeitems|length > 0 %}
  <a id="add-link" href="{% url 'tubeitem-create' %}">&#x2b;</a>
  {% endif %}
</div>

<div id="tubeitemlist" class="tubeitem-items-wrapper">
  {% for tubeitem in tubeitems %}
  <div class="tubeitem-wrapper">
    <iframe width="360" height="220" src="https://www.youtube.com/embed/{{tubeitem.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="tubeitem-desc">
      <img width="32" height="32" src="https://ui-avatars.com/api/?size=32&rounded=true&name={{tubeitem.user}}"/>
      <span class="tubeitem-text">{{tubeitem.description}}</span>
    </div>
  </div>

  {% empty %}
  <div style="text-align: center; padding-bottom: 10px; line-height: 1em">
    <h3>No new tubeitems are created.</h3>
    <h3>
      Create a
      <a
        style="text-decoration: none; color: #e53935"
        href="{% url 'tubeitem-create' %}"
        >First tubeitem</a
      >
      !
    </h3>
  </div>
  {% endfor %}
</div>

{% endblock content %}
